{% extends 'comissionamento/base.html' %}
{% block content %}
    
<div class="container-fluid px-4">
    <div style="justify-content: space-between;flex-direction: row;display: flex;align-items: center;">
        <h1 class="mt-4">Comissionamentos</h1>
        <div class="btn-group mt-2">
            <a href="{% url 'cadastrar_comissionamento' %}" class="btn btn-success"
                aria-current="page">Nova Solicitação de Comissionamento</a>
        </div>
    </div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item">Comissionamentos</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            Bem-vindo ao gerenciamento de comissionamentos, onde pode ser feito o cadastro, edição, visualização e cancelamento de comissionamentos.
        </div>
    </div>
    <div class="card mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Comissionamentos Cadastrados</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Data de Comissionamento</th>
                            <th>Data de Solicitação</th>
                            <th>Distribuidora</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Data de Comissionamento</th>
                            <th>Data de Solicitação</th>
                            <th>Distribuidora</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for comissionamento in comissionamentos %}
                        <tr>
                            <td>{{comissionamento.pk}}</td>
                            <td>{{comissionamento.data_comissionamento|date:"d/m/Y"}}</td>
                            <td>{{comissionamento.data_solicitacao|date:"d/m/Y"}}</td>
                            <td>{{comissionamento.distribuidora}}</td>
                            <td class="centered-link"><a class="btn btn-sm btn-outline-info" 
                                title="Detalhes do Comissionamento {{comissionamento.pk}}"
                                href="{% url 'detalhes_comissionamento' comissionamento.pk %}">
                                <i class="fas fa-eye fa-sm fa-fw"></i>
                            </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}