{% extends 'comissionamento/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid px-4">
    
    {% if modo == 'cadastro' %}
    <h1 class="mt-4">Cadastrar Comissionamento</h1>
    {% elif modo == 'edicao' %}
    <h1 class="mt-4">Editar Comissionamento</h1>
    {% elif modo == 'visualizacao' %}
    <div style="justify-content: space-between;flex-direction: row;display: flex;align-items: center;">
        <h1 class="mt-4">Detalhes Comissionamento</h1>
        <div class="btn-group mt-2">
            <a href="{% url 'editar_comissionamento' comissionamento.pk %}" class="btn btn-warning"
                aria-current="page">Editar solicitação</a>
            <a href="" class="btn btn-danger"
                aria-current="page">Cancelar</a>
            <a href="" class="btn btn-info"
                aria-current="page">Histórico</a>
            <a href="" class="btn btn-primary"
                aria-current="page">Relatório</a>
        </div>
    </div>
    {% else %}
    <li class="breadcrumb-item"></li>        
    {% endif %}  
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'comissionamentos' %}">Comissionamentos</a></li>
        {% if modo == 'cadastro' %}
        <li class="breadcrumb-item">Cadastrar Comissionamento</li>
        {% elif modo == 'edicao' %}
        <li class="breadcrumb-item">Editar Comissionamento {{ comissionamento.pk }}</li>
        {% elif modo == 'visualizacao' %}
        <li class="breadcrumb-item">Detalhes Comissionamento {{ comissionamento.pk }}</li>
        {% else %}
        <li class="breadcrumb-item"></li>        
        {% endif %}
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-list me-1"></i>
            Dados Gerais
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="fieldWrapper mb-2">
                            {{ form.distribuidora|as_crispy_field }}
                        </div>
                        <div class="fieldWrapper mb-2">
                            {{ form.data_comissionamento|as_crispy_field }}
                        </div>

                        {% if modo != 'cadastro' %}
                        <div class="fieldWrapper mb-2">
                            Data de Solicitação:<input disabled class="form-control" id="data_solicitacao" type="text" 
                            name="data_solicitacao" value="{{ comissionamento.data_solicitacao }}">
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="px-3 mb-4">
                {% if modo == 'cadastro' %}
                <button type="submit" class="btn btn-success" style="width:100%;">Cadastrar</button>
                {% elif modo == 'edicao' %}
                <button type="submit" class="btn btn-success" style="width:100%;">Editar</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}